* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: 
		linear-gradient(
			rgba(17, 126, 112, 0.75),
			rgba(0, 88, 255, 0.25)
		),
	/*add background image*/
	url(../images/bground.JPG);
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	}

.shadow{
	text-shadow: 1px 1px 15px #000000;
}


.mainLogo {
	background-image: url(../images/log3.png);
	background-position: center;
	height: 3rem;
	width: 13rem;
}

.image-container img{
	object-fit: cover;
	width: 220px;
	height: 220px;
	border-radius: 50%;
	margin: auto;
	margin-top: 25%;
	display: block;
}


.overview {
	padding: 3rem;
}

.fullname {
	font-weight: 300;
	letter-spacing: 3px;
	margin-bottom: .5rem;
	margin-top: 15%;
}

.job-title {
	color: #ffc107;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: .75rem;
	margin-bottom: 1rem;
	font-weight: bolder;
}

.hr1{
	width: 5rem;
	border: none;
	height: 2px;
	background-color: #00BCD4;
	margin: 1.5rem 0;
}

.hr2{
	background-color: gray;
}

.description {
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
	line-height: 1.75;
	text-align: justify;
}

.navsm {
	margin-top: 14px;
	margin-left: 20px;
	color: white;
	opacity: 0.5;
}

.footsm {
	height: 20px;
	color: black;
	margin: 10px;
	margin-bottom: 0;
	opacity: 1;
}

.fab:hover {
	opacity: 0.75;
	color: white;
}

.projects {
	margin-top: 40%;
	text-shadow: 1px 1px 15px #000000;
}

.contact {
	margin-top: 40%;
}

.checkMore{
	opacity: 1;
}

.card {
	width: 18rem;
	height: 20rem;
	border-radius: 30px;
	position: center;
	margin-left: 10%;
	margin-top: 2rem;
}


.bgcolor{
	background-color: black;
}

.footer {
	margin-top: 100px;
}

.contact {
	margin-bottom: 0;
	margin-top: 0;
}

.email {
	margin-bottom: 0;
}

#contactMe{
	color: black;
}

.active {
	opacity: 0.75;
	color: white;
}

@media screen and (max-width: 730px) {
.image-container img{
	object-fit: cover;
	width: 220px;
	height: 220px;
	border-radius: 50%;
	margin-top: 15%;
	display: block;
}

.fullname {
	text-align: center;
}

.job-title {
	text-align: center;
}

.hr1{
	width: 50%;
	border: none;
	height: 2px;
	background-color: #00BCD4;
	margin-left: 25%;
}

.description{
	margin-top: 0;
	padding: 10%;
}

.projects {
	margin-top: 20%;
	text-shadow: 1px 1px 15px #000000;
}

.card {
	width: 18rem;
	height: 20rem;
	border-radius: 30px;
	position: center;
	margin-left: 20%;
	margin-top: 2rem;
}

}

@media screen and (max-width: 1000px) {
body{
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
.card {
	width: 10rem;
	height: 14rem;
	border-radius: 30px;
	position: center;
	margin-left: 18%;
	margin-top: 2rem;
	font-size: 12px;
}

}

@media screen and (max-width: 700px) {
body{
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
.card {
	width: 12rem;
	height: 14rem;
	position: center;
	margin-left: 25%;
	margin-top: 2rem;
	font-size: 10px;
}

}